In [1]:
import pandas as pd

In [2]:
bank_data = pd.read_csv('dataset/bank_data_processed.csv')

bank_data.head()

,Age,Income,Family,Education,Mortgage,Securities Account,CD Account,Online,CreditCard
0,34,180,1,3,0,0,0,0,0
1,38,130,4,3,134,0,0,0,0
2,46,193,2,3,0,0,0,0,0
3,38,119,1,2,0,0,1,1,1
4,42,141,3,3,0,1,1,1,0

In [3]:
x = bank_data.drop('CreditCard', axis = 1)
y = bank_data['CreditCard']

In [4]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [5]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier

In [6]:
ada_clf = AdaBoostClassifier(DecisionTreeClassifier(max_depth = 1),
                             n_estimators = 100,
                             algorithm = 'SAMME',
                             learning_rate = 1.0
                            )

In [7]:
ada_clf.fit(x_train, y_train)

AdaBoostClassifier(algorithm='SAMME',
                   base_estimator=DecisionTreeClassifier(max_depth=1),
                   n_estimators=100)

In [8]:
ada_clf.estimator_weights_

array([1.53623451, 0.89798923, 0.48608053, 0.41742743, 0.65864703,
       0.36746143, 0.37179931, 0.32764942, 0.35015102, 0.36363378,
       0.32164063, 0.268656  , 0.15353665, 0.23234785, 0.25426481,
       0.25029216, 0.2018608 , 0.18939953, 0.2849413 , 0.19386821,
       0.18340617, 0.2392478 , 0.1814122 , 0.08554902, 0.17604387,
       0.06319063, 0.02751142, 0.02713809, 0.14468166, 0.0768872 ,
       0.02779107, 0.02741016, 0.02703956, 0.16433291, 0.25827136,
       0.2280684 , 0.20410063, 0.0937648 , 0.17664332, 0.21109698,
       0.13636667, 0.13401348, 0.02434906, 0.02405618, 0.02377025,
       0.02349104, 0.02321832, 0.02295186, 0.02269144, 0.02243687,
       0.02218794, 0.02194448, 0.02170631, 0.02183112, 0.09815845,
       0.08344428, 0.02180004, 0.02156497, 0.02133492, 0.02136788,
       0.02114199, 0.02111449, 0.0208939 , 0.02092544, 0.02070877,
       0.02068235, 0.02047065, 0.02050087, 0.10330033, 0.0811357 ,
       0.02026655, 0.02006324, 0.01986397, 0.01966861, 0.01969282,
       0.0195008 , 0.0194808 , 0.01929288, 0.01931612, 0.01913135,
       0.01911207, 0.01893116, 0.0189535 , 0.01877556, 0.01875698,
       0.0185827 , 0.01860418, 0.01843271, 0.01841478, 0.01824677,
       0.01826744, 0.0181021 , 0.01808479, 0.06482248, 0.07026658,
       0.01777165, 0.01761512, 0.01746133, 0.0173102 , 0.01721306])

In [9]:
y_pred = ada_clf.predict(x_test)

In [10]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_pred)

0.7604166666666666

In [15]:
ada_clf = AdaBoostClassifier(DecisionTreeClassifier(max_depth = 1),
                             n_estimators = 100,
                             algorithm = 'SAMME.R',
                             learning_rate = 0.5
                            )

In [16]:
ada_clf.fit(x_train, y_train)

AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=1),
                   learning_rate=0.5, n_estimators=100)

In [17]:
y_pred = ada_clf.predict(x_test)

accuracy_score(y_test, y_pred)

0.75