In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns

import matplotlib.pyplot as plt

In [4]:
bank_data = pd.read_csv('dataset/bank_data_processed.csv')

bank_data.head()

,Age,Income,Family,Education,Mortgage,Securities Account,CD Account,Online,CreditCard
0,34,180,1,3,0,0,0,0,0
1,38,130,4,3,134,0,0,0,0
2,46,193,2,3,0,0,0,0,0
3,38,119,1,2,0,0,1,1,1
4,42,141,3,3,0,1,1,1,0

In [6]:
x = bank_data.drop('CreditCard', axis = 1)

y= bank_data['CreditCard']

In [15]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [16]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier

In [17]:
bag_clf = BaggingClassifier(DecisionTreeClassifier(), n_estimators = 400,
                            bootstrap = False, max_samples = 1.0,
                            n_jobs = -1
                           )

In [18]:
bag_clf.fit(x_train, y_train)

BaggingClassifier(base_estimator=DecisionTreeClassifier(), bootstrap=False,
                  n_estimators=400, n_jobs=-1)

In [19]:
y_pred = bag_clf.predict(x_test)

In [20]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_pred)

0.7916666666666666

In [31]:
bag_clf = BaggingClassifier(DecisionTreeClassifier(), n_estimators = 400,
                            bootstrap = True, max_features = 0.7,
                            max_samples = 1.0, n_jobs = -1, oob_score = True
                           )

bag_clf.fit(x_train, y_train)

BaggingClassifier(base_estimator=DecisionTreeClassifier(), max_features=0.7,
                  n_estimators=400, n_jobs=-1, oob_score=True)

In [33]:
bag_clf.oob_score_

0.7447916666666666

In [35]:
y_pred = bag_clf.predict(x_test)

accuracy_score(y_test, y_pred)

0.8645833333333334

In [37]:
bag_clf = BaggingClassifier(DecisionTreeClassifier(), n_estimators = 400,
                            bootstrap = False, max_features = 0.8,
                            max_samples = 100, n_jobs = -1, bootstrap_features = True
                           )

bag_clf.fit(x_train, y_train)

BaggingClassifier(base_estimator=DecisionTreeClassifier(), bootstrap=False,
                  bootstrap_features=True, max_features=0.8, max_samples=100,
                  n_estimators=400, n_jobs=-1)

In [38]:
y_pred = bag_clf.predict(x_test)

accuracy_score(y_test, y_pred)

0.8854166666666666